.border{
    border-style: dotted;
}

/* img{
    max-width: 10rem;
} */

h3{
    color: black;
}

.checkout{
    background-color: #847774;
    position: -webkit-sticky;
  position: sticky;
  top: 100px;
}