

h4.bookTitle {
    color: #333333;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 17px;
    overflow: hidden;
    height: 40px;
    margin-top: 5px;
    line-height: 20px;
}

h3{
    color: blue;
}

.MuiPagination-ul{
    justify-content: center;
}

.row{
    padding: 5px;
}

.myfilters{
    border-style: dashed;
}
.texttitle {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
 }